{% extends "base.html" %}

{% block title %}
Articles
{% endblock %}



{% block content %}

    <h1>Articles</h1>

    <h3>Language: {{ language }}</h3>
    <h3>Session Language: {{ session_language }}</h3>

    {% if articles.count > 0 %}
        {% for article in articles %}
        <div>
            <h2><a href="/articles/get/{{ article.id}}">{{ article.title}}</a></h2>
            <p>{{ article.body|lower|truncatewords:"100" }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>(none)</p>
    {% endif %}

{% endblock %}